<div class="jumbotron">
  <div class="tixDetails">
    <div
      class="header d-flex flex-row justify-content-between"
      style="background-color: #cddecd"
    >
      <h2>{{ ticket.title }}</h2>
      <h2>Status: {{ ticket.status }}</h2>
    </div>
    <div class="header d-flex flex-row justify-content-between">
      <h5>Category: {{ ticket.category }}</h5>
      <h5>Submitted: {{ ticket.submittedDate | date: "MM/dd/YYYY" }}</h5>
      <h5 style="text-align: right">
        Submitted By User {{ ticket.submittedUserId }}
      </h5>
    </div>
    <div style="border: 1px solid #413931">
      <br />
      <p>{{ ticket.details }}</p>
    </div>
    <br />

    <div
      *ngIf="ticket.resolvedUserId != null"
      style="border: 1px solid #413931"
    >
      <p>Resolution Details:</p>
      <p>{{ ticket.resolutionDetails }}</p>
      User {{ ticket.resolvedUserId }} Responded:
      {{ ticket.resolvedDate | date: "MM/dd/YYYY" }}
      <br />
    </div>
    <br />
    <p *ngIf="ticket.favoritedUserId != null">
      Favorited By User {{ ticket.favoritedUserId }} <br />
    </p>
  </div>
  <br />
  <div>
    <button (click)="toggleFavorites()">Favorite This Ticket</button>
    <app-favorite-ticket
      [ticket]="ticket"
      *ngIf="showFavorites"
    ></app-favorite-ticket>
  </div>
  <br />
  <div>
    <button (click)="toggleResolve()">Resolve This Ticket</button>
    <app-resolved-ticket *ngIf="showResolve"></app-resolved-ticket>
  </div>
  <br />
</div>

<!-- {{ variable | date: "short" }} -->
<!-- <div>
  <button (click)="removeTicket(id)">Delete This Ticket</button>
</div> -->
